


body {

  background-image: url("background.jpg");
}

.sign_in_info {
  color: white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.logo {
  margin:2%;

}

.user_info{
  padding:5px;
}
