.nav_category {
  display:inline-block;
  text-align: center;
  width: 100%;
  padding:30px;

}

.navi_c {
  padding: auto;
  align-content: center;
  text-align: center;
  z-index: 2;
  display: block;

}

.list_restaurants {
  margin: 15px;
  padding: 10px;
  border-style: solid;
  border-color: #0000;
  width: 33%;
  display:inline-block;
  text-align: center;
  padding: 30px;

}

.list_r {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  margin-bottom: 50px;
  text-align: center;

}
